<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classicimmortalserver.mapper.AdminMapper">



    <select id="selectAll" resultType="com.example.classicimmortalserver.entity.Admin">

SELECT * FROM `classic_immortal`.admin
<where >
    <if test="name!=null"> name like concat('%',#{name},'%')</if>
</where>
order by id desc
    </select>



    <insert id="insert">
       insert into `classic_immortal`.admin (id, username, password, name)
       values (#{id},#{username},#{password},#{name})

    </insert>


    <update id="updateById" parameterType="com.example.classicimmortalserver.entity.Admin">
        update `classic_immortal`.employee set username=#{username},password=#{password},role=#{role},
                                               name=#{name},sex=#{sex},no=#{no},age=#{age},description=#{description}

        where id=#{id}


    </update>





















</mapper>
