<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classicimmortalserver.mapper.EmployeeMapper">



    <select id="selectAll" resultType="com.example.classicimmortalserver.entity.Employee">
        SELECT * FROM  `classic_immortal`.employee
        <where>
            <if test="name!=null"> name like concat('%',#{name},'%')</if>
        </where>
order by id desc

    </select>



    <insert id="insert">
insert into   `classic_immortal`.employee  (username,password,role,name,sex,no,age,description,avatar)
values (#{username},#{password},#{role},#{name},#{sex},#{no,},#{age},#{description},#{avatar})
    </insert>




    <update id="updateById" parameterType="com.example.classicimmortalserver.entity.Employee">
update `classic_immortal`.employee set username=#{username},password=#{password},role=#{role},
                                       name=#{name},sex=#{sex},no=#{no},age=#{age},description=#{description},avatar=#{avatar}

where id=#{id}
    </update>







































</mapper>